# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
!afrijob_backend/build/
!afrijob_backend/build/web/
android/.gradle/
android/app/debug.keystore
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
GeneratedPluginRegistrant.*
.flutter-plugins-dependencies

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log
.env

# Build
build/
*/build/

# Except backend web build
!afrijob_backend/build/
!afrijob_backend/build/web/
