flutter/ephemeral/

# Node modules
**/node_modules/

# Ignore local env file
.env
.env.*

# Visual Studio user-specific files.
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio build-related files.
x64/
x86/

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/

# Ignore generated backend upload/build files
backend/uploads/
