# Dependency directories
node_modules/
backend/node_modules/

# Flutter/Dart build and tool files
frontend/.dart_tool/
.dart_tool/
frontend/build/
build/
build_web_test/
.flutter-plugins
.packages
.pub/

flutter/ephemeral/
backend/.env
backend/uploads/

# Visual Studio user-specific files.
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio build-related files.
x64/
x86/

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/
